{% extends "base.jinja2" %}
{% block content %}
<head>
    <style>

    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
            <h1><br>All your goals are listed here</br></h1>
            </div>

        <p style="border-top: 1px solid"></p>
        </div>
    </div>
    {% if portfolios%}
        {% for portfolio in portfolios %}
            <a href="{{ url_for('portfolios.get_portfolio_page', portfolio_id=portfolio._id) }}" class="list-group-item list-group-item-action">
                <h4>{{ portfolio.goal_type }} </h4>
                Start Date for this goal: <strong>{{ portfolio.start_time }}</strong><br/>
            </a>
        {% endfor %}
        <a href="{{ url_for('portfolios.create_portfolio') }}" class="btn btn-primary" style="margin-top: 15px;float:right;">Create New Portfolio</a>
    {% else %}
        <div class="row" style="margin-top: 15px;float:right;">
        <a href="{{ url_for('portfolios.create_portfolio') }}" class="btn btn-primary" >Create First Goal</a>
        </div>
    {% endif %}
</body>
{% endblock %}
