{% extends "base.jinja2" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic MVO</title>

    {% include "html_dependencies.html" %}

</head>
<body>

<h1> Welcome to {{user.first_name}}'s page</h1>

</body>
</html>
{% endblock %}