{% extends "base.jinja2" %}
{% block content %}
    <div class="mt-3">
        <h1>Please feel free to update your portfolio!</h1>
    </div>
    <hr>
    <div class="form-size">
        <form method="post">
            <div class="form-group">
                 <label for="goal_description">Could you please describe your goal?</label>
                 <textarea class="form-control" id="goal_description" name="goal_description" rows="2" placeholder="Ex: This portfolio is an education fund for my kids"></textarea>
            </div>


            <div class="form-group">
                <label for="years_to_achieve">How long do you expect to achieve this goal</label>
                    <select class="form-control" id="years_to_achieve" name="years_to_achieve">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                    </select>
              </div>



            <div class = "form-group">
                <label for="Amount_for_goal">How much money do you expect to withdraw by the end date of this goal?</label>

                    <div class="input-group">

                      <span class="input-group-addon">$</span>
                      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="Amount_for_goal" name="Amount_for_goal" >
                      <span class="input-group-addon">.00</span>
                    </div>
            </div>
            <div class = "form-group">
                <label for="initial_deposit">How much money could you deposit for this goal now?</label>

                    <div class="input-group">

                      <span class="input-group-addon">$</span>
                      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="initial_deposit" name="initial_deposit" >
                      <span class="input-group-addon">.00</span>
                    </div>
            </div>
            <div class="form-group">
                <label for="risk_appetite">Risk Appetite:</label>
                    <select class="form-control" id="risk_appetite" name="risk_appetite">
                      <option>high</option>
                      <option>medium</option>
                      <option>low</option>
                    </select>
            </div>



            <fieldset class="form-group">
                <label for="importance">Please indicate the importance for this goal?</label>
                    <legend>Radio buttons</legend>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="importance" id="optionsRadios1" value="Highly Important" checked>
                            Highly important, I have to achieve this goal before or on the targeted end date.
                          </label>
                        </div>
                        <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="importance" id="optionsRadios2" value="Important">
                            This goal is important to me, but I can accept the delay of achieving this goal if there are other investment opportunities with higher return.
                          </label>
                        </div>
                        <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="importance" id="optionsRadios3" value="Not really important">
                            This goal is not really important to me.
                          </label>
                    </div>
            </fieldset>


            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
{% endblock %}
