{% extends "base.jinja2" %}
{% block content %}
    <div class="mt-3">
        <h1>Portfolio of <strong>{{ portfolio.user_email }}</strong></h1>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <img src="data:image/png;base64, {{ plot_url }}" class="img-fluid" alt="graph">
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col align-self-center">
                <a class="btn btn-primary" href="{{ url_for('users.user_portfolios') }}">Return to Portfolios</a>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
