{% extends "base.jinja2" %}
{% block content %}
    <head>
    <style>

    #table_name {

    border-collapse: collapse;

    }

    #table_name td, #table_name th {
    border: 2px solid #ddd;
    padding: 6px;

    }



    </style>
    </head>



    <div class="mt-3">
        <h1><strong>Portfolio Details</strong></h1>
    </div>
    <hr>
    <div class="container">

        <!--<div class="row">-->
        <div class="row">

              {% for i in plot_url_list %}
                  <div class="col-md-6">
                  <img src="data:image/png;base64, {{i}}" width="500" height="500" alt="graph">
                  </div>
              {% endfor %}



            <div class="col-md-6">
                <div class="row">
                    <p> Tickers:
                        {% for ticker in portfolio.tickers %}
                            <a href="{{ url_for('stocks.stock_page',stock_ticker = ticker) }}">{{ ticker }}, </a>
                        {% endfor %}
                    </p>


                </div>
                    <table id="table_name">

                    <tr>
                            {% for j in range(portfolio.tickers|count) %}

                                <th>{{portfolio.tickers[j]}}</td>


                            {% endfor %}
                    </tr>

                    {% for i in start_ls %}
                         <tr>
                        {% for j in range(portfolio.tickers|count) %}

                                <td>{{'%.03f' % weights[i+j]}}</td>

                        {% endfor %}
                        </tr>
                     {% endfor %}

                    </table>


                <div class="row">
                    <p>Risk Appetite: <strong>{{ portfolio.risk_appetite }}</strong></p>
                </div>

            </div>
        </div>
        <div class= "row">

            <div class ="col">
                <a class="btn btn-primary" href="{{ url_for('portfolios.get_portfolio_page', portfolio_id = portfolio._id) }}">Return to the home page of this portfolio</a>
            </div>



        </div>
    </div>
{% endblock %}
