{% extends "base.jinja2" %}
{% block content %}
    <head>
    <style>

    #table_name {

    border-collapse: collapse;

    }

    #table_name td, #table_name th {
    border: 2px solid #ddd;
    padding: 6px;

    }



    </style>
    </head>



    <div class="mt-3">
        <h1><strong>Quarterly Portfolio Allocation Charts</strong></h1>
    </div>
    <hr>
    <div class="container">


        <div class="row justify-content-start">
              <div class="col">
                <div class="row">
                    <p> Tickers:
                        {% for ticker in portfolio.tickers %}
                            <a href="{{ url_for('stocks.stock_page',stock_ticker = ticker) }}">{{ ticker }}, </a>
                        {% endfor %}
                    </p>


                </div>
              </div>
        </div>




            <div class="row justify-content-start">
                  {% for i in range(plot_url_list|count) %}
                      <div class="col-6">

                        <img src="data:image/png;base64, {{plot_url_list[i]}}" width="550" height="500" style="margin:0px" alt="graph">
                      </div>
                  {% endfor %}
             </div>




        </div>
        <div class= "row" style="float:right">

            <div class ="col">
                <a class="btn btn-primary" href="{{ url_for('portfolios.get_portfolio_page', portfolio_id = portfolio._id) }}">Return to the home page of this portfolio</a>
            </div>
        </div>
    </div>
{% endblock %}
